# Ignore node modules
node_modules/
src/Frontend/node_modules/
src/Backend/node_modules/

# Ignore environment variables
.env
docker-compose.yml
# Ignore build and dist folders
dist/
build/

# Ignore log files
*.log

# Ignore OS/IDE files
.vscode/
.DS_Store
